<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/create-style.css">
    <script src="/styles/style-burger.js" defer></script>
    <title>Создать пост</title>
</head>
<body>
    <div class="header">
        <div class="burger-container">
            <div class="header-burger">
                <span></span>
            </div>
        </div>
        <nav class="header-menu">
            <ul class="header-list">
                <li><a href="/index">Главная</a></li>
                {{#if name}}
                <li>
                    <form action="/loginAuth/logout" method="POST">
                        <button type="submit" class="btn-log-out">Выйти из системы</button>
                    </form>
                </li>
                {{/if}}
            </ul>
        </nav>
        <h1 class="the-food">THEFOOD</h1>
        {{#if name}}
            <h6 class="user-mail">{{name}}</h6>
        {{/if}}
    </div>
    {{#if showError}}
        <div style="background-color: white; text-align: center; color:red" class="alert alert-danger">
            <h5>{{errorValid}}</h5>
        </div>
    {{/if}}
    {{#if message}}
        <div style="background-color: white; text-align: center; color:red" class="alert alert-danger">
            <h5>{{message.msg}}</h5>
        </div>
    {{/if}}

    <div class="post-container">
        <form action="/index" method="post" enctype="multipart/form-data">
            <div class="post-photo">
                <label for="imageId" class="add-photo" style="cursor: pointer;">+<br>Добавить фото</label>
                <input type="file" class="input-photo" name="image" id="imageId">
            </div>
            <div class="post-description">
                <div class="post-title">
                    <input type="text" name="title" maxlength="50" class="title" placeholder="Название поста" required>
                </div>
                <div class="post-information">
                    <textarea name="description" placeholder="Информация о посте (min: 50 символов)" maxlength="1100" id="description" cols="30" rows="10" class="information" required></textarea>
                </div>
            </div>
            <div class="post-tags">
                <input type="text" name="tags" maxlength="70" placeholder="Добавьте теги через запятую, если это необходимо" class="tags">
            </div>
            <button type="submit" class="btn" enctype="multipart/form-data">Создать</button>
            <div class="post-footer"></div>
        </form>
    </div>
</body>
</html>